.loading-container {
  position: absolute;
}

.quote-text-container {
  position: relative;
  width: 60vw;
  min-height: calc(450px - 2rem);
  max-height: calc(650px - 2rem);
  height: calc(450px - 2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.quote-text,
.quote-author {
  max-width: 80vw;
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin: auto;
  color: #ffffff;
  font-display: block;
}

.quote-text {
  line-height: 1.3;
  font-size: 32px;
  font-style: italic;
}

.quote-text::after,
.quote-text::before {
  content: "“";
  padding-left: 15px;
}

.quote-text:before {
  content: "”";
  padding-left: 0px;
  padding-right: 15px;
}

.quote-author {
  font-size: 18px;
  line-height: 1;
  margin-top: 50px;
  font-weight: 600;
}
