.flex {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  max-width: 80%;
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin: auto;
  color: #ffffff;
  font-display: block;
}

p:first-child {
  font-size: 4vw;
  font-style: italic;
  background-color: rgba(0,0,0,0.5);
}

p:first-child::after, p:first-child::before {
  content: "“";
  font-size: 6vw;
  padding-left: 15px;
}
p:first-child::before {
  content: "”";
  padding-left: 0px;
  padding-right: 15px;
}

p:nth-child(2) {
  font-size: 2vw;
  margin-top: 50px;
  font-weight: 600;
}
